        <div class="top"></div>
        <div class="left">
            <ul>
                <li>
                    <a href="/admin/">首页管理</a>
                </li>
                <li>
                    <a href="/admin/banners">banner</a>
                </li>
                <li>
                    <a href="/admin/blogs">博客</a>
                </li>
                <li>
                    <a href="/admin/news">新闻</a>
                </li>
                <li>
                    <a href="/admin/eval">产品</a>
                </li>
                <li>
                    <a href="/admin/about">关于我们</a>
                </li>
                <li>
                    <a href="/admin/contact">联系我们</a>
                </li>
            </ul>
        </div>