<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
 <style>
 li,
dl,
dt,
dd,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.page {
    width: 100%;
}

.left {
    width: 12%;
    float: left;
}

.left li {
    line-height: 28px;
    border-bottom: 1px solid #f1f1f1;
}

.right {
    float: left;
    width: 85%;
    margin-left: 2%;
    border-right: 1px solid #A19E9E;
}
 </style>
</head>

<body>
    <div class="page">
        <% include components/left.pub.ejs%>
            <div class="right">
                <div class="right_top">我是管理首页的</div>
                <div class="right_content"></div>
            </div>
    </div>
</body>

</html>